* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.block {
	display: flex;
	justify-content: center;
	font-size: 50px;
}

.taxes {
	text-align: center;
}

h3 {
	margin-top: 30px;
	text-align: center;
}

button {
	margin-top: 20px;
	width: 150px;
	height: 40px;
	background-color: #9cdbad;
	border-radius: 10px;
}

button:focus {
	outline: none;
}

#stop {
	background-color: #f2e9ce;
}

#result1, #result2, #result3, #result4 {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
	padding-top: 30px;
	width: 900px;
	height: 100px;
	background-color: #d8eddd;
	border-radius: 20px;
	font-size: 25px;
}

@media(max-width: 600px) {
	#result1, #result2, #result3, #result4 {
		font-size: 20px;
		width: 400px;
	}
}
